body{
  font-family: system-ui;
    background: #white;
    color: black; /* Utilizza un colore di testo leggibile */
    text-align: center;
    margin: 0; /* Rimuove i margini predefiniti */
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Bordo arrotondato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombra più grande */
}

/* barra menù */
header {
    background-color: black;
    padding: 1em 0;
    text-align: center;
   font-size: 24px; 
  color: white;
}

#logo {
    margin-left: 0px;
}

/* barra ricerca */
.search-container {
    margin-right: 0px;
}

.search-form input {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 19px;
}

/* tasto ricerca e invio form */
.search, form button {
    padding: 9px;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    background-color: black;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

/* barra menù */
nav ul li {
    display: inline;
    margin: 0 5px;
}
/* barra menù */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 13px 70px;
    transition: background-color 0.8s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 88px;
  color: black;
}


/* forma sezioni sotto larghezza */
main, .introduzione, section {
    margin: 20px auto;
    max-width: 8000px;
}

/* forma sezioni sotto altezza */
section {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
  margin: 20px auto; /* Centra la sezione */
}


footer {
    background-color: #957;
    color: black;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* sezione occhiali */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prodotto {
  width: 200px;
  text-align: center;
  margin: 20px;
}

.prodotto img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.prodotto:hover img {
  transform: scale(1.1);
}

.dettagli {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.prodotto:hover .dettagli {
  background-color: rgba(255, 255, 255, 0.95);
}
